MORADORES

<div ng-controller="MoradorController" class="row">
    <div>
        Nome<input class="form-control" type="text" id="morador" ng-model="morador.Nome_Morador" />
        CPF<input class="form-control" type="text" id="morador" ng-model="morador.CPF" />
        Email<input class="form-control" type="text" id="morador" ng-model="morador.Email" />
        Telefone<input class="form-control" type="text" id="morador" ng-model="morador.Telefone" />

        Rua <select ng-change="ListarCasas()" class="form-control" id="rua" ng-model="morador.Id_Rua"
                    ng-options="rua.ID as (rua.Rua | uppercase) for rua in Ruas">
            <option value="">Rua</option>
        </select>
        Casa <select ng-disabled="!morador.Id_Rua" class="form-control" ng-model="morador.Id_Casa"
                    ng-options="casa.ID as casa.Casa for casa in Casas">
            <option value="">Casa</option>
        </select>
        <br />

        <input class="btn btn-default" type="button" value="Salvar" ng-show="!morador.ID" ng-click="SalvarMorador()" />
        <input class="btn btn-default" type="button" value="Editar" ng-show="morador.ID" ng-click="SalvarMorador()" />
    </div>
    <br />

    <table class="table table-striped" style="width:100%" ng-show="Moradores">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th><span class="glyphicon glyphicon-envelope"></span> Email</th>
            <th><span class="glyphicon glyphicon-earphone"></span> Telefone</th>
            <th><span class="glyphicon glyphicon-road"></span> Rua</th>
            <th><span class="glyphicon glyphicon-home"></span> Casa</th>
            <th>Excluir</th>
            <th>Editar</th>
        </tr>
        <tr ng-repeat="x in Moradores">
            <td>{{x.ID}}</td>
            <td>{{x.Nome_Morador}}</td>
            <td>{{x.CPF}}</td>
            <td>{{x.Email}}</td>
            <td>{{x.Telefone}}</td>
            <td>{{x.Rua | uppercase}}</td>
            <td>{{x.Casa}}</td>
            <td ng-click="DeletarMorador(x.ID)"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-click="EditarMorador(x)"><span class="glyphicon glyphicon-pencil"></span></td>
    </table>



</div>

<script src="~/Scripts/Controller/controllerMorador.js"></script>